#footer {

  & nav {
    margin-block: 3rem ;
    gap: 3rem;
  
      & div {
        gap: 4rem;
    
        & ul {
          width: 14rem;
      
          & li:first-child {
            font: .75rem var(--ff-sans);
            letter-spacing: 0.08rem;
            text-transform: uppercase;
            color: var(--brand-color-primary);
          }
      
          & li {
            font: var(--fs-base) var(--ff-sans);
            color: var(--text-color-secondary);
            margin-bottom: 1.25rem;
          }
        }
      }
  }

  & .footer-social {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    justify-content: space-between;
  }
}
@media (width >= 80rem) {
  #footer {
    & nav {
      margin-block: 5rem;
    }
  }
}